<!--<div class="container">-->
    <div class="hero-unit">
        <h1>欢迎来到 CityBoyBlog</h1>
        <p>CityBoyBlog 是一个居于 Node.js  的微博系统。</p>
        <p>
            <a href="/login" class="btn btn-primary ">登录</a>
            <a href="/reg" class="btn btn-default">立即注册</a>
        </p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h2>Corbo say</h2>
            <p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
        </div>
        <div class="col-sm-4">
            <h2>Davi say</h2>
            <p>
                Open Chinese Convert(OpenCC)是一个开源的中文简繁转换项目，
                致力于制作高质量的基于统计预料的简繁转换词库。 还提供函数库
                (libopencc)、命令行简繁转换工具、人工校对工具、词典生成程序、
                在 线转换服务及图形用户界面。
            </p>
        </div>
        <div class="col-sm-4">
            <h2>蒋哥说</h2>
            <p>
                中州韵输入法引擎 / Rime Input Method Engine 取意历史上通行
                的中州韵， 愿写就一部汇集音韵学智慧 的输入法经典之作。 项目网
                站设在 http://code.google.com/p/rimeime/ 创造应用价值是一
                方面，更要 坚持对好技术的追求，希望能写出灵动而易于扩展的代码，
                使其成为一款个性十足的开源输入法。
            </p>
        </div>
    </div>

<!--</div>-->


