

{{#if user }}
    <div id="three"></div>
    <script src="/javascripts/background.js"></script>
    <script src="/javascripts/skyback.js"></script>
{{else}}
    <div class="hero-unit">
        <h1>欢迎来到 CityBoyBlog</h1>
        <p>CityBoyBlog 是一个居于 Node.js  的微博系统。</p>
        <p>
            <a href="/login" class="btn btn-primary ">登录</a>
            <a href="/reg" class="btn btn-default">立即注册</a>
        </p>
    </div>
{{/if }}

{{#if essays}}
    <div class="row">
        {{#each essays}}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2>{{user}}：</h2>
                <p>{{contents}}</p>
                <i>{{date}}</i>
            </div>
        {{/each}}
    </div>
{{/if}}





