<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CityBoyBlog</a>
        </div>
        <ul class="nav navbar-nav">
            {{#if user }}
                <li><a><span class="glyphicon glyphicon-user"></span> 当前用户：{{user.name}}</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> 退出</a></li>
            {{else}}
                <li><a href="/reg"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            {{/if}}

        </ul>
    </div>
</nav>

<div class="container">
    {{{body}}}
    <hr />
    <footer>
        <p><a href="http://news.baidu.com" target="_blank">CityBoy</a> 2018</p>
    </footer>
</div>

</body>
</html>
































