

<div id="container"></div>
<!--<div id="info"><br/>-->
    <!--<a onclick="wind = !wind;">Wind</a> |-->
    <!--<a onclick="sphere.visible = !sphere.visible;">Ball</a> |-->
    <!--<a onclick="togglePins();">Pins</a>-->
<!--</div>-->

<script src="/javascripts/libs/WebGL.js"></script>
<script src="/javascripts/libs/Cloth.js"></script>
<script src="/javascripts/skyback.js"></script>
